@media only screen and (max-width:600px){
    html{
        font-size: 62.5%;
    }
    }

body {
    background-color: black;
    color: white;
    font-family: Arial;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.move-icons {
    height: 3.125rem;
    border-radius: 50%;
}

.play-button {
    background-color: transparent;
    border: 0.1875rem solid white;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    cursor: pointer;
}

.result {
    font-size: 1.5625rem;
    font-weight: bold;
    margin-top: 3.125rem;
}

.score {
    margin-top: 3.75rem;
}

.reset-button,
.autoplay-button {
    background-color: white;
    font-size: 0.9375rem;
    padding: 0.5rem 0.9375rem;
}